body.nav-open {
  overflow: hidden;
  @media (min-width: 768px) {
    overflow: hidden;
    margin-right: 15px;
    .nav-toggler {
      margin-right: 15px;
    }
  }
}

.nav-toggler {
  z-index: 99;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: $theme-primary;
  transition: all 0.2s;
  z-index: 98;
  display: flex;
  overflow-y: auto;
  &.show {
    left: 0;
  }
  ul {
    padding-top: 5rem;
    padding-bottom: 5rem;
    li {
      a {
        display: block;
        font-weight: bold;
        font-size: 5rem;
        color: white;
        &:hover {
          color: $theme-dark;
        }
      }
    }
  }
}

// Plugin Overrides
.midnightHeader.default,
.midnightHeader.white {
  background: transparent;
}
.midnightHeader.default .hamburger-inner,
.midnightHeader.default .hamburger-inner::after,
.midnightHeader.default .hamburger-inner::before {
  background-color: $theme-dark;
}

.midnightHeader.white .hamburger-inner,
.midnightHeader.white .hamburger-inner::after,
.midnightHeader.white .hamburger-inner::before {
  background-color: white;
}
button.hamburger:focus {
  outline: none;
}
