<!-- Navigation -->
<div class="nav-toggler text-right">
  <div class="m-3">
    <button class="hamburger hamburger--squeeze" type="button" data-toggle="modal" data-target="#exampleModal">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>

<nav class="nav-menu" id="fixed">
  <ul class="list-unstyled my-auto w-100 text-center">
    <li class="list-unstyled-item">
      <a href="/">Home</a>
    </li>
    <li class="list-unstyled-item">
      <a href="/posts">Posts</a>
    </li>
    <li class="list-unstyled-item">
      <a href="/projects">Projects</a>
    </li>
    <li class="list-unstyled-item">
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
